*{
	padding: 0;
	margin: 0;
	font-family: 'Markazi Text', serif;
	background: #393E46;
}

}
.navbar{
	display: flex;
	width: 90%;
	margin: auto;
	padding: 32px 0;
    align-items: center;
    justify-content: space-between;
}
.navbar ul li {
	list-style-type: none;
	display: inline-block;
	margin: 0 25px;
}
.navbar ul li a{
	text-decoration: none;
	color: #fff;

}